:root{
  overflow: hidden;
}

canvas{
  position:fixed;
  top:0;
  left:0;
}

.lifes{
  pointer-events: none;
  user-select: none;
  position:absolute;
  display: flex;
  flex-direction: row;
  top:0;
  left:0;
  width:30vw;
  height:10vh;
  background:rgba(255, 0, 0, 0);
  color:#ff0000;
  font-family:Arial;
  font-size:10vh;
  text-align:left;
  padding:15px;
  z-index: 999999;
  pointer-events: none;
  user-select: none;
  overflow: hidden; 
}

.stage{
  pointer-events: none;
  user-select: none;
  position:absolute;
  /* display: flex;
  flex-direction: row; */
  top:0;
  left:35vw;
  width:30vw;
  height:15vh;
  background:rgba(255, 0, 0, 0);
  color:#ff0000;
  font-family:Arial;
  font-size:10vh;
  text-align:center;
  padding:5px;
  z-index: 999999;
  pointer-events: none;
  user-select: none;
  overflow: hidden; 
}

.time{
  pointer-events: none;
  user-select: none;
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  top:0;
  right:0;
  width:30vw;
  height:10vh;
  background:rgba(255, 0, 0, 0);
  color:#ff0000;
  font-family:Arial;
  font-size:10vh;
  text-align:right;
  padding:15px;
  z-index: 999999;
  pointer-events: none;
  user-select: none;
  overflow: hidden; 
}
